$mainColor: rgb(80, 80, 80);
.navbar{
    background: white;
    display: flex;
    padding: 0 40px;
    height:60px;
    .navbar-logo{
        font-weight: bold;
        font-size: 25px;
    }
    .nav-menu{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    a{
        color:$mainColor;
        text-decoration: none;
    }
    .action-menu{
        font-size: 20px;
        display: flex;
        gap: 20px;
        padding-left: 40px;
        color: black;
        align-items: center;
    }
}